.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("scandinavian-biolabs-xAM918KJa-4-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem; 
  padding: 0.75rem 1rem;
  background-color: #9F9E9C;
  border-color: #9F9E9C;
}

.btn-login:hover {
  background-color: black;
}

a {
  color: black !important;
}


